@font-face {
    font-family: 'futura';
    src: url('./assets/fonts/futura/futura.eot');
    src: url('./assets/fonts/futura/futura.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/futura/futura.woff2') format('woff2'),
         url('./assets/fonts/futura/futura.woff') format('woff'),
         url('./assets/fonts/futura/futura.ttf') format('truetype'),
         url('./assets/fonts/futura/futura.svg#futura') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'futura_light';
	src: url('./assets/fonts/futura/futura-light.eot');
	src: url('./assets/fonts/futura/futura-light.eot?#iefix') format('embedded-opentype'),
	     url('./assets/fonts/futura/futura-light.woff2') format('woff2'),
	     url('./assets/fonts/futura/futura-light.woff') format('woff'),
	     url('./assets/fonts/futura/futura-light.ttf') format('truetype'),
	     url('./assets/fonts/futura/futura-light.svg#futura_lightregular') format('svg');
	font-weight: normal;
	font-style: normal;
}