@font-face {
    font-family: 'garamond';
    src: url('./assets/fonts/garamond/AGaramond-Italic.eot');
    src: url('./assets/fonts/garamond/AGaramond-Italic.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/garamond/AGaramond-Italic.woff') format('woff'),
         url('./assets/fonts/garamond/AGaramond-Italic.ttf') format('truetype'),
         url('./assets/fonts/garamond/AGaramond-Italic.svg#garamond') format('svg');
    font-weight: normal;
    font-style: normal;
}